* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}

button {
    background-color: #FA0;
    padding: 12px 4px;
    border: none;
    border-radius: 5px;

    color: #FFF;
    font-weight: bold;
    text-shadow: 0 0 30px #000;
}

button:hover {
    cursor: pointer;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px 200px;
    background-color: #000;
}

nav > * {
    margin: 0;
}

nav ul {
    list-style-type: none;
    display: inline-flex;
    align-items: center;
}

nav ul li {
    margin: 0 20px;
}

nav a {
    color: #FFF;
    font-size: 1em;
    text-decoration: none;
}

nav a:visited {
    color: #FFF;
}

nav a:hover {
    color: #CCC;
}

nav span {
    color: #FFF;
    font-size: 2.5em;
}


body > header {
    display: flex;
    flex-direction: column;
    justify-content: center;

    color: #FFF;
    background-image: url("./images/light_bulb.jpg");
    background-size: 100% 100%;
}

body > header section {
    margin: 100px 200px;
}

body > header section h1 {
    font-size: 2.5em;
    margin-bottom: 40px;
}

body > header section h2 {
    font-weight: normal;
    margin-bottom: 15px;
}


body > main header {
    margin: 100px 200px;
    display: flex;
    flex-direction: column;
}

body > main header h2 {
    color: #F80;
    margin-bottom: 10px;
}


body > main > section {
    display: flex;
    width: 100%;
    position: relative;
}

body > main > section div {
    height: 250px;
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFF;
    font-size: 2em;
    font-weight: bold;
    text-shadow: 1px 1px #000;
}

body > main > section div.imgleft {
    background-image: url('./images/mung_beans.jpg');
}

body > main > section div.imgcenter {
    background-image: url('./images/coffee_beans_1.jpg');
}

body > main > section div.imgright {
    background-image: url('./images/grapes.jpg');
}

body > main > footer {
    display: flex;
    margin: 50px 0;
}

body > main > footer section {
    display: flex;
    flex-direction: column;
}


body > main > footer img {
    border-radius: 100%;
}

body > main > footer h2 {
    font-size: 2em;
    color: #F80;
    margin-top: 30px;
    margin-bottom: 20px;
}

body > main > footer span {
    margin-bottom: 10px;
    font-style: italic;
}


body > footer {
    background-color: #000;
    display: flex;
    flex-direction: column;
    padding: 20px 0;

    color: #FFF;
}


body >footer h2 {
    font-size: 1.8em;
}

body > footer span {
    margin-bottom: 8px;
}

body > footer input {
    padding: 12px 4px;
    border: none;
    border-radius: 5px;
    margin-right: -10px;
}

body > footer hr {
    border-color: #AAA;
    margin: 15px 15%;
    padding-top: 1px;
}