*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav{
    background-color: #000;
    color: #fff;
    display: flex;
    justify-content: space-between;

}
nav ul{
    list-style-type: none;
    display: flex;
    font-weight: bold;
}
ul li{
    margin: 10px 50px 10px 50px;
}

nav ul2{
    list-style-type: none;
    display: flex;
}
ul2 li{
    margin: 10px 10px 0px 0px;
    padding-right: 50px;
}

h3{

    display: flex;
    color: darkorange;
    justify-content: center;
    padding: 10px;
}
p1{
    justify-content: center;
    display: flex;
}

p2{
    display: flex;
    justify-content: center;
}

header{
    background-image: url("examen-html_css/light_bulb.jpg");
    padding: 75px 50px 75px 50px;
    flex-direction: column;
}


header3{
    padding: 10px;
    justify-content: center;
}

.container{
    background-color: white;
    padding: 50px;
    justify-content: center;
}
.container1{
    width: 100%;
}

footer {
    background-color: black;
    padding: 50px 50px;
    display: flex;
    justify-content: center;
}

.item2{
    color: white;
    }

footer button{
    padding: 0.3rem;
    background-color: darkorange;
    color: white;
    border-radius: 8px;
}
header3 button{
    padding: 0.3rem;
    background-color: darkorange;
    color: white;
    border-radius: 8px;
}
form{
    display: flex;
}
hr{
    width: 80%;
}

.colum{

    display: flex;
    padding: 20px 0px;
}
.colum img{
    width: 100%;
    flex-direction: column;
}

.item3 {
    display: flex;
    justify-content: center;
}

.item3 img{
    border-radius: 50%;
}

.item6{
    color: white;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 20px;
}

header button{
    padding: 0.3rem;
    background-color: darkorange;
    color: white;
    border-radius: 8px;
}


.item1{
    float: left;
}

.item4{
    float: right;
}
 form{
     justify-content: center;
 }