*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li{
    list-style-type: none;
}

button{
    color: #ffffff;
    background-color: #ffa500;
    padding: 10px 5px 10px 5px;
    border: 1px;
    border-radius: 5px;
}

nav{
    background-color: #000;
    color: #FFF;
    display: flex;
    justify-content: space-between;

}

nav ul{
    list-style-type: none;
    display: flex;
}

.logo{
    font-weight: bold;
    margin: 20px 5px 20px 50px;
}

ul li{
     margin: 20px 50px 20px 10px;
 }
main{
    background-color: #FFFFFF;
}
section{
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}

.hook{
    background-image: url('images/light_bulb.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
}

.hook article{
    padding: 30px 50px 50px 50px;
    color: #FFFFFF;
}

.goal{
    display: flex;
    text-align: center;
    justify-content: center;
    margin: 50px;
}

.goal h2{
    color: #ffa500;
}

.assets{
    display: flex;
    flex-direction: row;
    align-content: center;
}

.assets h2{
    color: #FFFFFF;
    position: absolute;
    z-index: 2;
}
.contact{
    display: flex;
    padding: 50px;
    background-color: #FFFFFF;
    text-align: center;
    align-content: center;
}

.contact p{
    font-style: italic;
}

.image_container img{
    border-radius: 50%;
}

.button_container{
    display: flex;
    flex-direction: row;
}

.newsletter{
    padding: 50px;
    color: #FFFFFF;
    background-color: black;
    display: flex;
    text-align: center;
}
.newsletter input{
    height: 40px;
}
.bar{
    background-color: #FFFFFF;
    width: 300px;
    height: 1px;
}
footer{
    padding: 25px;
    color: #FFFFFF;
    background-color: #000000;
    display: flex;
    justify-content: center;
    align-content: center;
}