* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inconsolata', serif;
}

body{
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

h1{
    color: #FFF;
}

img {
    max-width: 100%;
    height: auto;
}

ul {
  list-style-type: none;
  margin: 0;
}

li {
    margin-bottom: 2px;
}

input[type=text]{
    height: 35px;
    font-size: 1.2em;
    border-radius: 4px;
    border: solid 1px #6C6C6C;
    padding: 5px;
    width: 40%;
    min-width: 25%;
    color: #6C6C6C;
}

input[type=button]{
    width: 120px;
    height: 35px;
    margin-top: 20px;
    cursor: pointer;
    display: inline-block;
    padding: 0.3em 1em;
    text-decoration: none;
    color: #6C6C6C;
    border: solid 1px #6C6C6C;
    background: #FFF;
    border-radius: 3px;
    transition: .4s;
}

input[type=button]:hover{
    background: #c5c5c5;
    color: #000;
}

input:focus {
    outline:none;
}

.key{
   font-weight: bold;
   color: #000;
}

.value{
    font-weight: 100;
    color: #6c6c6c;
}

.title{
    padding-top: 20px;
    padding-bottom: 20px;
    background: #6c6c6c;
    text-align: center;
    font-size: 22px;
}

.help-text{
    margin-bottom: 10px;
    padding: 15px;
    text-align: center;
    font-size: 1.0em;
    color: #4b4b4b;
}

.search-form{
    padding-bottom: 20px;
    text-align:center;
    width: 100%;
    margin: auto;
}

.notification-area{
    display: none;
    padding: 20px;
    text-align: center;
    color: red;
}

.spacer{
    display: none;
    border-bottom: 1px  solid #6c6c6c;
}

.result-area{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    flex: 1;
    width: 100%;
    padding: 30px;
}

.result-list-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-bottom: 20px;
    max-width: 65%;
}

.result-title{
    font-size: 2em;
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: bold;
}

.result-plot{
    font-size: 1.1em;
    margin-top: 10px;
    margin-bottom: 20px;
    font-style: italic;
}

.result-extra{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.result-rating{
    padding-top: 10px;
    padding-bottom: 10px;
    min-width: 100%;
}

.footer{
    border-top: 1px  solid #6c6c6c;
    text-align: center;
    font-size: smaller;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
}

.spinner,
.spinner:after {
  border-radius: 50%;
  width: 5em;
  height: 5em;
}
.spinner {
  display: none;
  margin: 60px auto;
  font-size: 10px;
  position: relative;
  text-indent: -9999em;
  border-top: 0.5em solid rgba(0,0,0, 0.2);
  border-right: 0.5em solid rgba(0,0,0, 0.2);
  border-bottom: 0.5em solid rgba(0,0,0, 0.2);
  border-left: 0.5em solid #000000;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load8 1.1s infinite linear;
  animation: load8 1.1s infinite linear;
}
@-webkit-keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}