*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-size: 16px;
}

nav{
    display: flex;
    background-color: #000;
    color: #FFF;
    height: 40px;
    justify-content: space-between;
    align-items: center;
}

.menu{
    margin-right: 100px;
}

ul li {
    display: inline;
    padding: 10px;
    cursor: pointer;
    font-size: 0.8em;
}

.logo{
    margin-left: 100px;
    font-size: 1.5em;
}

header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: url("images/light_bulb.jpg");
    background-size: cover;
    height: 340px;
    color: #FFF;
    padding-left: 100px;
}

 header  h1{
     padding: 20px 0px 20px 0px;
     font-size: 2.5em;
 }

 header  p{
     font-size: 0.9em;
 }

 header .button{
     display: flex;
     padding: 5px;
     width: 100px;
     background-color: #ffb800;
     text-shadow: 1px 1px #000;
     justify-content: center;
     border-radius: 2px;
     margin-top: 10px;
     cursor: pointer;
 }

 section.slogan {
     display: flex;
     justify-content: center;
     padding: 50px 0px 50px 0px;
 }

.slogan_text{
    display: flex;
    flex-direction: column;
    width: 50%;
    align-items: center;
}

 section.slogan  h2{
     font-size: 1.2em;
     color: #ffb800;
     margin-bottom: 10px;
 }

 section.slogan p{
     text-align: center;
     color: #777;
 }

 section.grid{
     display:flex;
 }

 .grid_1, .grid_2, .grid_3{
     position: relative;
 }

 .img_text{
     position: absolute;
     top: 45%;
     left: 40%;
     color: #FFF;
     font-size: 2em;
     text-shadow: 1px 1px #000;
 }

.grid img{
    width: 100%;
    height: auto;
}

 section.eyecatcher{
     display: flex;
     flex-direction: row;
     justify-content: center;
 }

 .img_oval{
     border-radius: 50%;
     padding: 30px;
 }

.contact_us{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact_us p{
    font-size: 1.5em;
    font-weight: bolder;
    color: #ffb800;
    padding: 20px;
}

.adress{
    font-style: italic;
    padding: 10px;
}

.button_group{
    display: flex;
    justify-content: center;
}

.button_group .button{
    padding: 10px;
    border-radius: 5px;
    background-color: #ffb800;
    color: #FFF;
    text-shadow: 1px 1px #000;
    margin: 5px;
    cursor: pointer;
}

footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    height: 150px;
    background-color: #000;
    color: #FFF;
    padding: 15px;
}

footer h3{
    font-size: 1.3em;
    padding: 5px;
}

footer p{
    margin: 5px;
}

.email_input{
    height: 25px;
    border-radius: 3px;
    border: none;
}

button{
    border-radius: 2px;
    padding: 3px;
    background-color: #ffb800;
    border: none;
    color: #FFF;
    text-shadow: 1px 1px #000;
    margin: -5px;
    cursor: pointer;
    font-size: 0.9em;
    height: 25px;
}

.hr_line{
    height: 2px;
    background-color: #FFF;
    width: 80%;
}

.copyright{
    font-size: 0.8em;
    margin: 10px;
}