*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    color: white;
}
nav {
    background-color: black;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}
nav h1 {
    font-size: 36px;
    padding: 1% 0 1% 5%;
}
nav ul  {
    display: flex;
    align-self: center;
    margin-right: 15%;



}
nav ul li a {
    text-decoration: none;
    color: white;
    font-size: 25px;
}
nav ul li {
    list-style-type: none;
    margin: 0 5% 0 5%;
}
a:link , a:visited, a:hover, a:active {
    text-decoration: none;
    color: white;
}
header{
    background: url("./light_bulb.jpg") fixed no-repeat;
    background-size: 100%;
}
header h1 {
    padding: 7% 0 1% 5%;
    font-size: 36px;
}
header h3 {
    padding: 1% 0 2% 5%;
}
header button {
    border: solid 3px orange;
    border-radius: 5px;
    background-color: orange;
    color: white;
    margin: 0 0 5% 5%;
    padding: 0.5% 0.25% 0.5% 0.25%;
}

main {
    background-color: white;
}
main .top {
    font-size: 1.2em;
    height: 25%;
}
main .top h2 {
    font-size: 1.2em;
    margin: 2% 0 1% 0;
    color: orange;
    text-align: center;
}
main .top p {
    margin: auto auto;
    color: grey;
    text-align: center;
    width: 35%;
}
footer{
    background-color: black;
}

.unl {
    background: url(./mung_beans.jpg) no-repeat;

    width: 33%;
    height: 450px;
    text-align: center;
    padding-top: 12%;
    font-size: 2em;
}
.syn {
    background: url(./coffee_beans_1.jpg) no-repeat;
    text-align: center;
    width: 33%;
    padding-top: 12%;
    font-size: 2em;

}
.pro {
    background: url(./grapes.jpg) no-repeat;
    text-align: center;
    width: 33%;
    padding-top: 12%;
    font-size: 2em;

}
.fotos {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width:100%;
    margin: 3% 0 3% 0;

}
.bottom img {
    border-radius: 50%;
    display: block;
    margin: 0 auto;
}
.bottom h2 {
    color: orange;
    margin: 2% 0 2% 0;
}
address {
    color: black;
    margin: 1% 0 2% 0;
}
.bottom a {
    border: solid 3px orange;
    border-radius: 5px;
    background-color: orange;
    padding: 0.5% 0.25% 0.5% 0.25%;
}
.bottom {
    text-align: center;
    padding-bottom: 3%;
    padding-top: 3%;
}
footer {
    text-align: center;
}
footer h1 {
    padding-top: 2%;
}
footer input {
    border-radius: 5px;
    margin: 1% 0 1% 0;
    padding: 0.5% 0.25% 0.5% 0.25%;
}
footer button {
    border: solid orange 3px;
    background-color: orange;
    border-radius: 5px;
    margin: 1% 0 1% 0;
    padding: 0.5% 0.25% 0.5% 0.25%;
}
footer p {
    padding: 1% 0 1% 0;
}