*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    position: relative;
    min-height: 100%;
}

header{
    background-color: #D6E9FE;
}

.menu{
    display: flex;
    justify-content: space-around;
    color: white;
    background-color: #5995DA;
    padding: 20px 0;
}

main{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.searchbar{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
}

#mtgContent{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#searchInput{
    padding: 20px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

a:link{
    color: black;
    text-decoration: none;
}

a:visited {
    color: #5995DA;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:active {
    text-decoration: underline;
}

.sort{
    border: white solid 1px;
    background-color: #5995DA;
    color: white;
}

.options{
    display: flex;
    flex-direction: column;
    width: 10%;
    justify-content: center;
}

#optionButton{
    display: flex;
    justify-content: center;
}

#optionContent{
    display: flex;
    justify-content: center;
}

#format{
    border: none;
    background-color: #D6E9FE;
}

.mainContent{
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

footer{
    position: absolute;
    background-color: #5995DA;
    left: 0;
    bottom: 0;
    height: 100px;
    width: 100%;

    display: flex;
    justify-content: space-between;
    padding: 20px 0;
}