*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav{
    background-color: #000;
    color: #fff;
    padding: 5px 0 ;
}
.container{
    margin: 0 5%;
    display: flex;
    justify-content: space-between;
}
nav ul{
    list-style: none;
    display: flex;
}
nav ul li{
    margin: 0 10px;
}
header{
    background-image: url("../img/light_bulb.jpg");
    color: white;
    min-height:330px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 5%;
}

header h1{
    margin-bottom: 30px;
}
header p{
    margin-bottom:10px;
}
header button{
    background-color: darkorange;
    color: #fff;
    border: none;
    max-width:80px;
    padding: 5px 0;
    border-radius:12%;
}
main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 250px;
}
main h3{
    color: darkorange;
    margin-bottom: 8px;
}
main p{
    color: #a9a9a9;
    text-align: center;
}
section figure{
    display: flex;
}
section figure div{
    position: relative;
}
section figure img{
    height:300px;
}
section figcaption{
    color: white;
    position: absolute;
    bottom:50%;
    left: 45%;
    text-shadow: 2px 1px black;
}
.contact-us{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.contact-us img{
    border-radius: 50%;
    margin: 40px 0;
}
.contact-us h3{
    margin-bottom: 20px;
    color: darkorange;
}
.contact-us address{
    margin-bottom: 10px;
}
.contact-us section{
    margin-bottom: 50px;
}
.contact-us button{
    background-color: darkorange;
    color: #fff;
    border: none;
    padding: 10px;
    border-radius:15%;
}
footer{
    background-color: #000;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
footer h3{
    margin-top: 20px;
}
footer form{
    margin:10px 0;
}
footer button{
    background-color: darkorange;
    color: #fff;
    border: none;
    padding: 10px;
    border-radius:15%;
}
footer input{
    height: 30px;
}
.footer-container{
    margin: 0 5%;
    min-width:90%;
}
.copyright{
    margin: 20px 0;
}
