body{
    background-color: black;
}
.justify-middle{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.justify-middle h1{
    color: darkgrey;
    background-color: black;
    padding: 5px;
}
canvas{
    margin-top: 200px;
}
.btn {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
}
.btn:hover {
    background-color:white;
    color: #4CAF50;
}
.btn2 {
    background-color: #4f4c4b; /* Green */
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
    margin-left: 50px;
}
.btn2:hover{
    background-color: white;
    color: black;
}