*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

nav{
    background-color: #000000;
    color: #FFFFFF;
    display: flex;
    justify-content: space-between;

}

.navigationList{

    width: 1500px;
    display: flex;
    justify-content: space-around;
}
nav .navigationList{
    list-style-type: none;
    display: flex;
    align-items: center;
}
.links {
    display: flex;
    justify-content: flex-end;
    padding-right: 10px;;
}

.linken{
    padding-right: 20px;
}

.container-background{

    color: white;
    background-image: url('images/light_bulb.jpg');
    background-repeat: no-repeat;
    background-position: center;
    padding: 230px 100px 100px 50px;

}

header{
    /*margin: 30px 100px 50px 50px;*/
    /*position: absolute;*/
    /*bottom: 8px;*/
    /*left: 16px;*/
}

header h1 {
    padding-bottom: 25px;
}

header p{
    padding-bottom: 15px;
}
.button{
    background-color:orange;
    color: white;
    display: inline-block;
    padding: 5px 5px 5px 5px;
    border-radius: 5px;
}

.top-section{
    text-align: center;
}
.top-section h1{
    color: orange;
    font-size: 25px;
}
.top-section p{
    padding: 0 300px 0 300px;
    color: gray;
}

.middle-section{
    display: flex;
    justify-items: auto;
    /*flex: border-box;*/
}

/*.middle-section img{*/
    /*width: 100%;*/
/*}*/

.picture-middle1{
    width: 100%;
    height: 300px;
    color: white;
    background-image: url('images/mung_beans.jpg');
    background-repeat: no-repeat;
    background-position: center;
    padding: 30px 50px 30px 50px;
}
.picture-middle2{
    width: 100%;
    height: 300px;
    color: white;
    background-image: url('images/coffee_beans_1.jpg');
    background-repeat: no-repeat;
    background-position: center;
}
.picture-middle3{
    width: 100%;
    height: 300px;
    color: white;
    background-image: url('images/grapes.jpg');
    background-repeat: no-repeat;
    background-position: center;
}
.bottom-section {
    align-items: center;
    text-align: center;
}
.bottom-section img{
    border-radius: 50%;

}
.newsletter,
.contact{
    text-align: center;
}

.newsletter{
    background-color: #333333;
    margin-top: 20px;
}

.newsletter h2{
    padding: 25px 0 10px 0;
}

.newsletter p{
    padding-bottom: 10px;
}

.newsletter form{
    border-radius: 5px;
    padding-bottom: 25px;
}

.button p{
    display: inline-block;
    margin: 0 20px 0 10px;

}

.copyright{
    padding: 15px 0 15px 0;
}

